base_url:                     http://localhost:9292
concurrency:                  1
selenium_connect:
    host:                     'saucelabs'
    browser:                  'firefox'
    browser_version:          '23'
    sauce_username:           <%= sauce_username %>
    sauce_api_key:            <%= sauce_api_key %>
    sauce_opts:
        build:                <%= build %>
        'tunnel-identifier':  '<%= tunnel_identifier %>'
        'selenium-version':   '2.36.0'
