<div class="example">
  <h3>No A/B Test</h3>
  <p>
    Also known as split testing. This is a way in which businesses are able to simultaneously test and learn from different versions of a page to see which text and/or functionality works best towards a desired outcome (e.g. a user action such as a click-through).
  </p>
</div>
