<div class="example">
  <h3>A/B Test Manual</h3>
  <p>
    One way to configure your split tests is to enable them to load when specific Javascript commands fire.

    <a href=''>Click here</a> to load the requisite commands and refresh the page.
  </p>
</div>
