<style>
  img {
    width: 120px;
    height: 90px;
  }
</style>

<div class="example">
  <h3>Broken Images</h3>
  <img src="asdf.jpg" />
  <img src="hjkl.jpg" />
  <img src="img/avatar-blank.jpg" />
</div>
