<menu type="context" id="menu">
  <menuitem label="the-internet" onclick="window.alert('You selected a context menu')"></menuitem>
</menu>
<div class="example">
  <h3>Context Menu</h3>
  <p>Context menu items are custom additions that appear in the right-click menu.</p>
  <p>Right-click in the box below to see one called 'the-internet'. When you click it, it will trigger a JavaScript alert.</p>
  <div id='hot-spot' style="border-style: dashed; border-width: 5px; width: 250px; height: 150px;" contextmenu="menu">
  </div>
</div>

</br></br>
<strong>NOTE: This functionality currently only works on Firefox. See <a href="https://github.com/tourdedave/the-internet/issues/12">this open issue</a> for details.</strong>
