<menu type="context" id="menu">
  <menuitem label="the-internet" onclick="window.alert('You selected a context menu')"></menuitem>
</menu>
<div class="example">
  <h3>Context Menu</h3>
  <p>Context menu items are custom additions that appear in the right-click menu.</p>
  <p>Right-click in the box below to see one.</p>
  <div style="border-style: dashed; border-width: 5px; width: 250px; height: 150px;" contextmenu="menu">
  </div>
</div>

<!--
Built using these references:
http://blog.teamtreehouse.com/building-html5-context-menus
http://davidwalsh.name/html5-context-menu

NOTE: Using HTML5 context menus for right-click enhancement. This functionality currently only works on Firefox
--!>
