<div class="example">
  <h3>Context Menu</h3>
  <p>Context menu items are custom additions that appear in the right-click menu.</p>
  <p>Right-click in the box below to see one called 'the-internet'. When you click it, it will trigger a JavaScript alert.</p>
  <div id='hot-spot' style="border-style: dashed; border-width: 5px; width: 250px; height: 150px;" oncontextmenu="displayMessage()">
  </div>
</div>

</br></br>

<script>
function displayMessage() {
  window.alert('You selected a context menu')
}
</script>
