<div class="example">
  <h3>Dropdown List</h3>
  <select id="dropdown">
    <option value="" disabled="disabled" selected="selected"
      >Please select an option</option
    >
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
  </select>
</div>
<script>
  var dropdown = document.getElementById('dropdown');
  dropdown.onchange = function(event) {
    var options = dropdown.getElementsByTagName('option');
    for (var i = 0; i < options.length; i++) {
      options[i].removeAttribute('selected');
    }
    document
      .querySelector(`#dropdown option[value='${event.target.value}']`)
      .setAttribute('selected', 'selected');
  };
</script>
