<div class='example'>
  <h3>Dynamically Loaded Page Elements</h3>
  <p>It's common to see an action get triggered that returns a result dynamically. It does not rely on the page to reload or finish loading. The page automatically gets updated (e.g. hiding elements, showing elements, updating copy, etc) through the use of JavaScript.</p>

  <p>There are two examples. One in which an element already exists on the page but it is not displayed. And anonther where the element is not on the page and gets added in.</p>

  </br>

  <a href='/dynamic_loading/1'>Example 1: Element on page that is hidden</a>
  </br></br>
  <a href='/dynamic_loading/2'>Example 2: Element rendered after the fact</a>
</div>
