<div class="example">
  <h2>Forgot Password</h2>
  <h4 class="subheader"></h4>
  <form name="forgot_password" id="forgot_password" action="/forgot_password" method="post" >
     <div class="row">
      <div class="large-6 small-12 columns">
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" />
      </div>
    </div>
      <button id="form_submit" class="radius" type="submit"><i class="icon-2x icon-signin">Retrieve password</i></button>
  </form>
</div>
