A forgot password retrieval was initiated from <a href='the-internet.herokuapp.com/forgot_password'>a page on the-internet</a> to your e-mail address (<%= params[:email] %>).

If this were a real message, you would likely see a link or some relevant text that would help you retrieve a password.
