BOTTOM
<div class="example">
  <h3>Demonstration of an HTML4 IFRAME within a FRAME and FRAMESET.</h3>
  <center>
  <iframe name="inlineframe" src="float" frameborder="0" scrolling="auto" width="500" height="180" marginwidth="5" marginheight="5" >      
  </iframe>
  </center>
</div>
