<div class="example">
  <h3>Horizontal Slider</h3>
  <h4 class="subheader">Set the focus on the slider (click) and use the arrow keys to move it right and left.</h4>
  <div class="sliderContainer">
    <input type="range" min="0.0" max="5.0" step="0.5">
    <div class="sliderTicks"><span></span><span></span><span></span><span></span><span></span><span></span></div>
  </div>
</div>
