<a href="https://github.com/tourdedave/the-internet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<h1 class="heading">Welcome to the Internet</h1>

<h2>Available Examples</h3>
<%= erb :examples %>
