<div class="example">
  <h3>JQuery UI</h3>
  <div class="description">
  <p><a href="http://jqueryui.com/">JQuery UI</a> is many things, but one thing
    specifically that causes automation challenges is their set of Widgets</p>
  <ul>
    <li><a href="/jqueryui/menu">Menu</a></li>
    </li>
  </ul>
</div>