<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<html>
  <head>
    <script src="/js/vendor/298279967.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Internet</title>
    <link href="/css/app.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="/js/foundation/foundation.js"></script>
    <script src="/js/foundation/foundation.alerts.js"></script>
    <script>
      $(document).foundation();
    </script>
  </head>
  <body>
    <div class="row">
      <div id="flash-messages" class="large-12 columns">
      <% %w[notice error success].each do |type| %>
        <% if flash[type.to_sym] %>
          <div data-alert id='flash' class='flash <%= type %>'>
            <%= flash[type.to_sym] %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row">
      <a href="https://github.com/tourdedave/the-internet"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
      <div id="content" class="large-12 columns">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
