<div class="example">
  <h3>Login Page</h3>
  <form name="login" id="login" action="/authenticate" method="post" >
      <input type="text" name="username" id="username" />
      <input type="password" name="password" id="password" />
      <input type="submit" value="Login" />
  </form>
</div>
