<frameset frameborder="1" rows="50%,50%">
  <frame src="/frame_top" scrolling="no" name="frame-top">
  <frame src="/frame_bottom" scrolling="no" name="frame-bottom">
  <noframes>
    Frames are not rendering.
  </noframes>
</frameset>



<h2>HTML Iframes</h2>
<p>You can use the height and width attributes to specify the size of the iframe:</p>

<iframe src="/frame_top" height="200" width="300">

<iframe src="/frame_top" scrolling="no" name="frame-top1"></iframe>
  <iframe src="/frame_bottom" scrolling="no" name="frame-bottom1"></iframe>

</iframe>
