<div >
<p>Iframe example - in Main Frame</p>
  <div >
    <iframe name="iframe1" id="IF1" height="50%" width="50%" src="/frame_left"> 
    
    </iframe>
  </div>
  <div >
  <iframe name="iframe2" id="IF2" height="50%" width="50%"  align="left" src="/frame_bottom">
  
  </iframe>
  </div>
</div>