<title>Notification Message</title>
<div class="example">
  <h3>Notification Message</h3>
  <p>
    The message displayed above the heading is a notification message. It is often used to convey information about an action previously taken by the user.
    </br></br>
    Some rudimentary examples include 'Action successful', 'Action unsuccessful, please try again', etc.
    </br></br>
    <a href='/notification_message'>Click here</a> to load a new message.
  </p>
</div>
