<div class="example">
  <h3>Redirection</h3>
  <p>
    This is separate from directly returning a redirection status code, in that some browsers cannot handle a raw redirect status code without a destination page as part of the HTTP response.
    <br><br>
    Click <a id='redirect' href='redirect'>here</a> to trigger a redirect (and be taken to the status codes page).
  </p>
</div>
