<div class="example">
  <h2><i class="icon-lock"></i> Secure Area</h2>
    <h4 class="subheader">Welcome to the Secure Area. When you are done click logout below.</h4>
  <a class="button secondary radius" href="/logout"><i class="icon-2x icon-signout"> Logout</i></a>
</div>
