<div class='example'>
  <h3>Shifting Content</h3>
  <p>These examples demonstrate elements on a page shifting a few pixels in either direction on each page load. This is meant to demonstrate some of the subtle rendering issues that occur across browsers.</p>

  <a href='/shifting_content/menu'>Example 1: Menu Element</a></br></br>
  <a href='/shifting_content/image'>Example 2: An image</a></br></br>
  <a href='/shifting_content/list'>Example 3: List</a>

</div>
