<style>
h1 {
  padding-top: <%= 25+rand(@pixel_shift) %>px;
  padding-right: 50px;
  padding-bottom: 25px;
  padding-left: <%= 25+rand(@pixel_shift) %>px;
}
.content {
  padding-top: 0px;
  padding-right: <%= 0+rand(2) %>px;
  padding-bottom: 25px;
  padding-left: 50px;
  width: 400px;
}
</style>
<div class='example'>
  <h3>Shifting Content</h3>
  <p>This example demonstrates elements on a page shifting a few pixels in either direction on each page load. This is meant to demonstrate some of the subtle rendering issues that occur cross-browser.</p>

  <hr>

  <h1>Logo</h1>

  <div class='content'>
    <p>Quot partiendo sea in. Appetere scribentur at duo. Vel soleat ancillae eu. Ius et eius atqui. Nulla nobis per ei, pro ad audire habemus mentitum. No nec ferri equidem cotidieque, ut elitr libris pertinacia pri, possit impedit detraxit eos ex.</p>
  </div>
</div>
