<script>
$.get('/slow_external')
</script>

<div class="example">
  <h3>Slow Resources</h3>
  <p>At times it can take a while for third-party site resources to load (e.g., tracking code javascript, social networking widgets, etc.). This example has a rogue GET request that takes 30 seconds to complete.</p>
</div>
