<div class="example">
  <h3>Status Codes</h3>
  <p>
    HTTP status codes are a standard set of numbers used to communicate from a web server to your browser to indicate the outcome of the request being made (e.g. Success, Redirection, Client Error, Server Error). For a complete list of status codes, go <a href='http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml'>here</a>.</br>
    </br>
    Some standard status codes you will run into include but are not limited to:

    <ul>
      <li><a href='status_codes/200'>200</a></li>
      <li><a href='status_codes/301'>301</a></li>
      <li><a href='status_codes/404'>404</a></li>
      <li><a href='status_codes/500'>500</a></li>
    </ul>

  </p>
</div>
