<div class="example">
  <h3>Status Codes</h3>
  <p>
    This page returned a <%= @status_code %> status code.</br>
    </br>
    For a definition and common list of HTTP status codes, go <a href='/status_codes'>here</a>
  </p>
</div>
