<html>
  <head><!-- CDN hosted by Cachefly -->
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
      tinymce.init({selector:'textarea'});
    </script>
  </head>
  <body>
    <div class="example">
      <h3>An iFrame containing the TinyMCE WYSIWYG Editor</h3>
      <textarea>Your content goes here.</textarea>
    </div>
  </body>
</html>
