<div class="example">
<h3>File Uploader</h3>
<p>Choose a file here on your system that you would like to upload!</p>
  <form method='post' enctype='multipart/form-data'>
    <input id='file-upload' type='file' name='myfile'>
    </br>
    <input class="button" id='file-submit' type='submit' value='Upload'>
  </form>
</div>
