<html>
  <head>
    <title>File Upload</title>
  </head>

  <body>
    <h1>File uploader</h1>
      <form method='post' enctype='multipart/form-data'>
        <input id='file-upload' type='file' name='myfile'>
        </br>
        <input id='file-submit' type='submit' value='Upload'>
      </form>
  </body>
</html>
