<div class="example">
  <h1>Subdirectory One</h1>

  <p>You are here: <pre>/subdirectories/one</pre></p>

  <ol>
    <li><a href="/subdirectories"><pre>/subdirectories</pre></a></li>
    <li><a href="/subdirectories/two"><pre>/subdirectories/two</pre></a></li>
  </ol>
</div>
